# ignore DS_Store
.DS_Store
docs/.DS_Store
article/.DS_Store
article/chapter1/.DS_Store
article/image/.DS_Store
article/image/chapter1/.DS_Store
article/image/user/.DS_Store
article/image/user/share/.DS_Store

**.DS_Store
**/.idea
**/.gradle
**/out
**/build
